@import "libs/animate.min"; 
@import "libs/bootstrap-reboot.min";
//@import "libs/_bootstrap-reboot.min.scss.map";
@import "libs/fonts";
//@import "libs/slick";
 
 @import "base/variables";
 @import "base/animations";

 * {
    font-family: 'Museo Sans', sans-serif;
 }

 .container {
    position: relative;
    max-width: 950px;
    margin: 0 auto;
 }

 @import "blocks/promo";
 @import "blocks/header";
 @import "blocks/button";
 @import "blocks/advantages";
 @import "blocks/main_header";
 @import "blocks/consultation";
 @import "blocks/forms";
 @import "blocks/carousel";
 @import "blocks/catalogue";
 @import "blocks/review";
 @import "blocks/footer";
 @import "blocks/modal";
 @import "blocks/pageup";
 @import "base/media";